<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/uuid-rocks/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="uuid-rocks" />
      <add key="ClearTextPassword" value="%NUGET_GITHUB_TOKEN%" />
    </github>
  </packageSourceCredentials>
  <packageSourceMapping>
    <packageSource key="github">
      <package pattern="DysonSphereProgram.GameLibs" />
    </packageSource>
    <packageSource key="BepInEx">
      <package pattern="*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
